* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url("img/curves.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;

    top: -5px;
    width: 100%;
    height: 53px;
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shop_now {
    margin-right: 12%;
    margin-left: 1%;
}

.check_order span, .shop_now span {
    margin-left: 10px;
}

.check_order a, .shop_now a {
    display: flex;
}

.check_order a {
    align-items: center;
}

.shop_now a {
    align-items: baseline;
    margin-bottom: 2px;
}

.check_order:hover,
.shop_now:hover,
.menu div a:hover,
.menu_list a:not([class="home_element"]):hover {
    opacity: 70%;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.1);

}

.menu_list a:not([class="home_element"]):hover,
footer a:hover {
    opacity: 100%;
    color: rgb(226, 7, 17);
}

a {
    text-decoration: none;
}

/*.text_order {
    bottom: 3px;
    display: inline-block;
    position: absolute;
    width: 100px;
    right: -102px
}*/

/*.check_order, .shop_now {
    position: absolute;
}*/

/*.check_order {
    left: 1150px;
    top: 25.984px;
}*/
/*
.shop_now {
    left: 1277px;
    top: 25.984px;
    bottom: 7px;
}*/

.account, .shopping_basket {
    margin-right: 5px;
    color: rgb(86, 30, 16);
    line-height: 1.286;
    text-align: left;

    /*   z-index: 130;*/
    font-size: 14px;
    font-family: "Arial", serif;
}

/*.shopping_basket {
    bottom: 1px;
    display: inline-block;
    position: absolute;
}*/

/*.shopping_basket span {
    right: -108px;
}*/

.menu_list, .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
    align-items: center;
    justify-content: center;
}

.menu_list a:not([class="home_element"]), footer div, footer a {
    margin: 0 20px;
    font-size: 26px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a3674b;
    line-height: 0.881;
    text-align: justify;
    text-shadow: 1px 1.732px 1px rgba(67, 64, 64, 0.35);
    z-index: 127;
}

.home_element {
    background-image: url("img/Shape 7.png");
    width: 90px;
    height: 45px;
    position: relative;
    bottom: 40px;
    right: -15px;

}

.menu_list .home_element a {
    color: rgb(226, 7, 17);
    position: absolute;
    bottom: 14px;
    right: -3px;
}

.stripes {
    position: relative;
    top: -20px;
    background-image: url("img/Stripes.png");
}

.menu div {
    margin-top: 30px
}

.menu div:first-child {
    margin-right: 30px;
}

.slider {
    position: relative;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.choco {
    background-image: url(img/choco.png);
    background-repeat: no-repeat;
    width: 961px;
    height: 417px;
    margin-left: calc(50% - 961px / 2);
    z-index: 88;
    box-shadow: -2px 5px 20px 0px black;
    border-radius: 4px;
    background-position: -3px -4px;
    position: absolute;
    top: 20px;
}

.choco:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition-duration: 0.3s;
}

.cup_cake {
    background-image: url("img/cup cake.png");
    width: 131px;
    height: 232px;
    position: absolute;
    left: 231px;
    top: 5px;
}

.strawberry_cake {
    background-image: url("img/strawberry cake.png");
    position: absolute;
    width: 140px;
    height: 232px;
    right: 236px;
    top: 5px;
}

.choco div:first-of-type {
    background-image: url("img/Shape 2.png");
    width: 438px;
    height: 228px;
    position: absolute;
    left: 30px;
    top: 45px;
    z-index: 89;
}

.choco div h6 {
    font-size: 43px;
    font-family: "Lobster", sans-serif;
    color: rgb(201, 3, 12);
    line-height: 0.533;
    text-align: center;
    margin-top: 20px;
}

.choco div:first-of-type nav:first-of-type {
    font-size: 14px;
    font-family: "Arial", serif;
    color: rgb(70, 69, 69);
    line-height: 1.273;
    text-align: justify;
    padding: 33px 30px 0;
}

.choco div:first-of-type nav:last-child {
    display: inline-block;
    background: #8d4026;
    border-radius: 3px;
    background-image: -moz-linear-gradient(90deg, rgb(120, 61, 39) 0%, rgb(150, 99, 79) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(120, 61, 39) 0%, rgb(150, 99, 79) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(120, 61, 39) 0%, rgb(150, 99, 79) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    padding: 3px 10px;
    float: right;
    margin: 29px 34px;
}

.choco a {
    font-size: 16px;
    font-family: "Arial", serif;
    color: rgb(255, 255, 255);
    line-height: 1.273;
}

.choco div:first-of-type nav:last-child:hover {
    border: 2px solid rgb(120, 61, 39);
}

.choco div:first-of-type nav:last-child:hover,
.left_arrow:hover,
.right_arrow:hover {
    opacity: 0.8;
}

.red_med_ribbon {
    background-image: url("img/red_med_ribbon.png");
    background-repeat: no-repeat;
    width: 161px;
    height: 162px;
    position: absolute;
    right: -13px;
    top: -12px;
}

.left_arrow, .right_arrow {
    background-image: url("img/left_elongated_button.png");
    width: 36px;
    height: 67px;
}

.left_arrow {
    position: absolute;
    bottom: 65px;
    left: -19px;
}

.right_arrow {
    position: absolute;
    bottom: 65px;
    right: -19px;
    transform: rotate(180deg);
}

.div_footer {
    background-image: url("img/curves.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 53px;
    transform: rotate(180deg);
    margin-top: -40px;
}

.div_footer nav {
    transform: rotate(180deg);
    font-size: 26px;
    font-family: "Lobster", serif;
    color: rgb(237, 29, 56);
    line-height: 0.769;
    text-align: center;
    padding: 10px;
}

.info_sections {
    background-color: #8c432b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info_sections div:first-of-type {
    background-image: url("img/Left Box.png");
    width: 340px;
    height: 260px;
}

.info_sections div:nth-of-type(2) {
    background-image: url("img/Middle Box.png");
    width: 340px;
    height: 267px;
}

.info_sections div:last-of-type {
    background-image: url("img/Right.png");
    width: 340px;
    height: 260px;
}

.info_sections div:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-duration: 0.4s;
}

footer {
    width: 100%;
    background-color: #ffcece;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div, footer div a {
    font-size: 15px;
    margin: 0;
    padding: 12px;
}

footer div:first-of-type {
    margin-left: 100px;
}

footer div:last-of-type {
    margin-right: 100px;
}

@media only screen and (max-width: 1050px) {
    .choco {
        width: 88vw;
        margin: 0 calc(((100vw - 88vw) / 2) - 10px);
        background-position: -10px -10px;
        height: 405px;
    }

    .div_footer {
        height: auto;
    }

    .div_footer nav {
        padding-top: 30px;
    }

    .choco:hover {
        transform: scale(1);
    }

    .choco div:first-of-type {
        width: 80vw;
    }

    .cup_cake, .strawberry_cake {
        display: none;
    }

    footer {
        height: auto;
        padding-bottom: 2px;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    footer div:first-of-type,
    footer div:last-of-type {
        margin: 0;
        padding-right: 5px;
    }
}
@media  only screen and (max-width: 1300px) {
    .cup_cake, .strawberry_cake {
        display: none;
    }
}